.productlist{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
    flex-direction: row;
}
.category-chips{
    width: 50%;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}