.navbar{
    width: 80%;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.logo img{
    height: 100px;
    width: 100px;
}
.links{
    display: flex;
}
.tabs{
    display: flex;
    gap: 4em;
    align-items: center;
    justify-content: center;
}
.tabs li{
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
}
.auth{
    display: flex;
    align-items: center;
}
.auth Button{
    width: 100px;
}
.cart{
    font-size: 3rem;
    text-align: center;
    /* padding-left: 20px; */
}
.tab-active{
    color: rgb(204,46,67);
}
.tabs li a:hover{
    color: rgb(204,46,67);
}
.tab-inactive{
    color: blue;
}
.auth-button:hover{
    color: rgb(204,46,67);

}