.product-details {
  width: 60%;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  padding: 20px;
}
.product-image {
  flex: 1;
}
.product-details img {
  height: 350px;
  width: 100%;
  object-fit: contain;
}
.product-details h4 {
  color: rgb(204, 46, 67);
}
.description {
  padding: 20px;
  flex: 1;
}
.description p {
  padding-bottom: 20px;
}
.related {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 2em;
  align-items: center;
  justify-content: center;
}
.description,
h5,
h6,
span {
  padding-top: 10px;
  padding-bottom: 10px;
}
