.product-details{
    width: 50%;
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex: 1;
}
.product-details img{
    height: 300px;
    width: 100%;
}
.product-details h4{
    color: rgb(204,46,67)
}
.description{
    padding: 20px;
    flex: 1;
}
.description p{
    padding-bottom: 20px;
}